.content h1 {
    margin: 0;
} 

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
     /* border: 2px solid blueviolet;  */
    
}

.pokemon {
    /* border: 2px solid red; */
    display:flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #49d0b0;    
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    background-color: #61e1ca;
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .825rem;
    border-radius: 1rem;
}
.pokemon .detail img {
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

.pokemon .number {
    color: black;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: 0.25rem;
}

@media screen and (min-width:380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;

    }
    
}

@media screen and (min-width:576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
        /* background-color: blue; */
    }
    
}


@media screen and (min-width: 992px) {

    .pokemons {
        /* max-width: 992px; */
        display: grid;
        /* height: auto; */
        /* margin: 0 auto; */
        /* border-radius: 1rem; */
        /* background-color: red; */
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        
    }     
}    


